@import url("https://fonts.googleapis.com/css2?family=Ruluko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

.topheader {
  font-family: "Ruluko", sans-serif;
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.Menu-Horizontal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: Block;
  padding: 20px 20px;
  color: rgb(238, 255, 0);
  text-decoration: none;
}
.Menu-Vertical {
  list-style: none;
  background-color: rgb(0, 0, 0);
  padding: 0;
  position: absolute;
  display: none;
  width: 150px;
}
.Menu-Horizontal li a:hover {
  color: white;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: Block;
}

.seccion-productos {
  padding: 60px 20px;
  background-color: whitesmoke;
}
.div-gral-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.div-prod-texto {
  font-family: "Ruluko", sans-serif;

  flex: 1;
}
.div-prod-texto {
  font-family: "Ruluko", sans-serif;
  color: rgb(234, 0, 255);
}
.div-prod-texto p {
  font-family: "Ruluko", sans-serif;
  color: black;
  line-height: 1.6;
  font-size: 20px;
}
.div-prod-texto button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.div-prod-img {
  flex: 1;
}
.div-prod-img img {
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.seccion-zonding {
  padding: 60px 20px;
  background-color: rgb(254, 255, 199);
}
.div-gral-zonding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
.div-zonding-texto {
  align-items: center;
  font-family: "Science Gothic", sans-serif;
  flex: 1;
}
.div-zonding-texto h2 {
  color: rgb(49, 49, 49);
}
.div-zonding-video {
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.div-zonding-video iframe {
  width: 100%;
  max-width: 500px;
}
.seccion-formulario {
  background-color: rgb(0, 0, 8);
  padding: 40px;
  border: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.div-cont-formulario {
  font-family: "Ruluko", sans-serif;
  background-color: antiquewhite;
  padding: 30px;
  border: 2px solid green;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Fomulario-Registro {
  font-family: "Ruluko", sans-serif;
  width: 100%;
  text-align: left;
}
.seccion-formulario {
  font-family: "Ruluko", sans-serif;
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border: 1px solid rgb(251, 255, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.div-cont-formulario {
  font-family: "Ruluko", sans-serif;
  background-color: rgb(216, 216, 216);
  padding: 30px;
  border: 2px solid rgb(251, 255, 0);
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.campo {
  font-family: "Ruluko", sans-serif;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: skyblue;
  border: 1px;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.formulario label {
  font-family: "Ruluko", sans-serif;
  display: block;
  font-weight: 200px;
  margin-bottom: 8px;
  color: violet;
}
.campo {
  margin-bottom: 15px;
}

.formulario input[type="text"],
.formulario select {
  font-family: "Ruluko", sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  box-sizing: border-box;
}
.lita-checkbox,
.lista-radio {
  font-family: "Ruluko", sans-serif;
  list-style: none;
  padding: 10px;
  border: 1px solid #000000;
  background-color: #c79cef;
  margin: 0;
  border-radius: 8px;
}
.formulario-button {
  font-family: "Ruluko", sans-serif;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
  color: antiquewhite;
  border: 1.5px solid rgb(255, 255, 255);
  font-size: 15px;
}
